<script>
    var let_queue = "@_localization.Getkey("Sıra").Value"
    var let_transactionTime = "@_localization.Getkey("İşlem Tarihi").Value"
    var let_transactionType = "@_localization.Getkey("İşlem Tipi").Value"
    var let_description = "@_localization.Getkey("Detay").Value"
</script>

<div class="card border border-light">
    <div class="card-body">
        <div id="divHistory">

        </div>
    </div>
</div>

<script src="~/js/history/history.js"></script>