<div class="card mt-4 border border-light">
    <div class="card-body">
        <div class="mt-4 mb-4" id="divMessage">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="text-center">
                        <img src="~/assets/images/maintenance.svg" height="140" alt="File not found Image">
                        <h3 class="mt-4">@_localization.Getkey("Sayfa geliştirme sürecinde.").Value</h3>
                        <p class="text-muted">@_localization.Getkey("Sistemi daha iyi yapmak için uğraş halindeyiz.").Value</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

